<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Calorie Counter #<%= @calorie_counter.id %></h3>
      </div>
      <div class="panel-body">
        <%= render 'form', calorie_counter: @calorie_counter %>
      </div>
    </div>
  </div>
</div>
