<div class="page-header">
  <h1>
    Fast Food Easy Macro Calculator
    <%= link_to icon('plus'), new_drive_through_path, class: "btn btn-lg btn-success" %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">

      <script>
        $(function() {
          var availableTags = [
          "McDonalds McDouble",
          "McDonalds Double Cheeseburger",
          "McDonalds McChicken",
          "McDonalds Chicken McNuggets",
          "McDonalds Fruit 'N Yogurt Parfait",
          "McDonalds Vanilla Cone",
          "Wendy's Crispy Dill Chicken Sandwish",
          "Wendy's Jr. Bacon Cheeseburger",
          "Wendy's Value Natural Cut Fries",
          "Wendy's Spicy Chicken Wrap",
          "Wendy's Small Classic Chocolate Frosty",
          "Wendy's Small Classic Vanilla Frosty",
          "Wendy's Crispy Chicken Sandwish",
          "Wendy's Small Chili",
          "Wendy's 6 Piece Spicy Chicken Nuggets",
          "Wendy's 4 Piece Chicken Nuggets",
          "Wendy's Jr. Cheeseburger",
          "Wendy's Garden Side Salad",
          "Wendy's Double Stack",
          "Wendy's Ceasar Side Salad",
          "Wendy's Jr. Cheeseburger Delux",
          "Wendy's 4 Piece Spicy Chicken Nuggets",
          "Wendy's 6 Piece Chicken Nuggets"
          ];
          $( "#tags" ).autocomplete({
            source: availableTags
          });
        });
      </script>

      <div class="ui-widget">
      <label for="tags">Fast Food: </label>
        <input id="tags">
      </div>
    </body>
  </div>
</div>

<hr>
